services:
 nginx:
  container_name: nginx
  build:
   context: ./requirements/nginx/
  ports:
   - 4242:443
  networks: 
   - Inception
  depends_on:
   - mariadb
   - wordpress
  restart: always
  volumes:
   - volume-web:/var/www/html/

 mariadb:
  container_name: mariadb
  build:
   context: ./requirements/mariadb/
  networks: 
   - Inception
  restart: always
  # environment:
   # MARIA_USER: {WORDPRESS_DB_USER}
   # MARIA_PASS: {WORDPRESS_DB_PASSWORD}
   # MARIA_DB: {WORDPRESS_DB_NAME}
  volumes:
   - volume-db:/srv/mysql-db

 wordpress:
  container_name: wordpress
  build:
   context: ./requirements/wordpress/
  networks:
   - Inception
  depends_on:
   - mariadb
  restart: always
  volumes:
   - volume-web:/var/www/html/

networks:
 Inception:
  driver: bridge
 
volumes:
 volume-db:
  driver: local
  driver_opts:
   type: none
   o: bind
   device: /var/www/html/db
 volume-web:
  driver: local
  driver_opts:
   type: none
   o: bind
   device: /var/www/html/web
 # attachable: true
