services:
 nginx:
  container_name: nginx
  build:
   context: ./requirements/nginx/
  ports:
   - 4242:443
  networks: 
   - Inception
  depends_on:
   - mariadb
   # - wordpress
  restart: always

 mariadb:
  container_name: mariadb
  build:
   context: ./requirements/mariadb/
  networks: 
   - Inception
  restart: always
# wordpress:
 # container_name: wordpress
 # build:
  # context: ./requirements/wordpress/
 # networks:
  # - Inception
 # depends_on:
  # - mariadb
 		# :  restart: always

networks:
 Inception:
  driver: bridge
 # attachable: true
