services:
 nginx:
  container_name: nginx
  build:
   context: ./requirements/nginx/
  ports:
   - 4242:443
  networks: 
   - Inception
  depends_on:
   - mariadb
   - wordpress
   - adminer
  restart: always
  volumes:
   - volume-web:/var/www/html/

 mariadb:
  container_name: mariadb
  build:
   context: ./requirements/mariadb/
  networks: 
   - Inception
  restart: always
  environment:
   DB_NAME: ${WP_NAME} 
   DB_USER: ${WP_USER}
   DB_PASS: ${WP_PASS}
  volumes:
   - volume-db:/var/lib/mysql

 wordpress:
  container_name: wordpress
  build:
   context: ./requirements/wordpress/
  networks:
   - Inception
  depends_on:
   - mariadb
   - redis
  restart: always
  volumes:
   - volume-web:/var/www/html/
  environment:
   DB_NAME: ${WP_NAME} 
   DB_USER: ${WP_USER}
   DB_PASS: ${WP_PASS}
   DB_HOST: mariadb

 adminer:
  container_name: adminer
  build:
   context: ./requirements/adminer/
  networks:
   - Inception
  depends_on:
   - wordpress
  restart: always
  volumes:
   - volume-web:/var/www/html/
  environment:
   DB_NAME: ${WP_NAME} 
   DB_USER: ${WP_USER}
   DB_PASS: ${WP_PASS}
   DB_HOST: mariadb

 redis:
  container_name: redis
  build:
   context: ./requirements/redis/
  networks:
   - Inception
  restart: always

networks:
 Inception:
  driver: bridge
 
volumes:
 volume-db:
  driver: local
  driver_opts:
   type: none
   o: bind
   device: /home/secros/data/db
 volume-web:
  driver: local
  driver_opts:
   type: none
   o: bind
   device: /home/secros/data/web
